body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
  width: 97.5625%;
  height: 1176px;
  margin: -5px 0 0 0.3125%;
}

.element {
  position: relative;
  float: left;
  width: 102.4983984625%;
  margin-left: -0.32031%;
  background-color: rgb(222, 222, 222);
}

.image {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 528px;
  height: auto;
  margin: -89px 0 0 68.35362%;
  overflow: scroll;
}

.text {
  position: relative;
  float: left;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 300px;
  height: 74px;
  margin-left: 14.61503%;
  border: 1px solid rgb(248, 245, 245);
  border-radius: 3px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
}

.element-1 {
  z-index: 0;
  height: 1051px;
  margin-top: 5px;
  background-image: url('../images/auschwits.gif');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.element-2 {
  clear: both;
  z-index: 4;
  height: 89px;
}

.text-1 {
  z-index: 1;
  width: 20.9090727098%;
  min-height: 183px;
  margin: -903px 0 0 71.5016415759%;
}

.text-2 {
  clear: both;
  z-index: 5;
  width: 28.7375880845%;
  min-height: 35px;
  margin: -57px 0 0 1.28123%;
}

.container ._button-1 {
  clear: both;
  z-index: 2;
  margin-top: -916px;
  background-color: rgba(222, 222, 222, 0.35);
  color: rgb(251, 247, 247);
}

.container ._button-2 {
  z-index: 3;
  margin-top: -842px;
  background-color: rgba(196, 190, 190, 0.56);
  color: rgb(255, 255, 255);
}

.container ._button-3 {
  z-index: 7;
  margin-top: -768px;
  background-color: rgba(196, 190, 190, 0.56);
  color: rgb(255, 255, 255);
}

.text span {
  font-style: normal;
  font-weight: 700;
}

.text-1 span {
  color: rgb(251, 247, 247);
}

.text-2 span {
  background-color: transparent;
}