<!DOCTYPE html>
<html>

<head>
<style type="text/css">

h1{	
	font-family:Arial,Helvetica,sans-serif;
	font-size: 400%;
	color: black;}

h1{	
	font-family:Arial,Helvetica,sans-serif;
	font-size: 400%;
	color: black;} 
	
body{
	background-color: #F0F0F0;}

#webpage{
	height: 100%;
	width: 1024px;
	margin: 0px auto 0px;}
	
#upper_bar{

	position: absolute;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 100%;
	background-color: #202020;}
	
#content{

	position: absolute;
	top: 200px;
	min-height: 100%;
	width: 1024px;
	background: #FFFFFF;
	z-index: -1;}
	
#lower_bar{

	position: relative;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	background-color: #202020;}

</style>
</head>

<body>
</body>

</html>